<!-- <nav class="navbar">
  <a class="navbar-brand" href="/">Restaurant Name</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/orders/new">New order</a>
      </li>
    </ul>
  </div>
</nav> -->
<nav>
  <button>Home</button>
  <button><a class="btn btn-primary btn-lg" href="/orders/new">Place an order</a></button>
</nav>
