<nav>
  <button>
    <a href="/" class="home-button">
      <img src="//static1.squarespace.com/static/5d924fed4b479f7b9acaf7c6/t/5d93af80a6347f3e8cfd8a49/1571429987774/?format=1500w"></img>
    </a>
  </button>

  <button><a href="/orders/new">Place an order</a></button>
</nav>


