<nav class="navbar">
  <a class="navbar-brand" href="/">Restaurant Name</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/orders/new">New order</a>
      </li>
    </ul>
  </div>
</nav>
