<footer>
    <img class="smallLogo" src="/assets/small_logo.png"></img>
  <p>Open Everyday from 11:00am - 10:00pm</p>

    <p>Location: 5395 West Boulevard & 38th Avenue
    Vancouver, BC, V6M 3W4</p>

  <div class="socialMedia">

    <a href="https://www.instagram.com/bufalayvr/?hl=en">
      <i class="fab fa-instagram"></i>
    </a>

    <a href="https://www.facebook.com/bufalayvr/">
      <i class="fab fa-facebook-square"></i>
    </a>

    <a href="https://twitter.com/bufalayvr?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
      <i class="fab fa-twitter-square"></i>
    </a>

  </div>

</footer>
