<footer>
    <img class="smallLogo" src="/assets/small_logo.png"></img>
  <span>
    Open Everyday from 11:00am until 10:00pm
  </span>

  <div>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-twitter-square"></i>
  </div>
</footer>
