<% layout('layout.ejs') -%>

  <head>
    <title>Homepage</title>


  </head>

  <body>
    <div id="logo">Bufala
    <!-- <img src="images/bufala.png"> -->
    </div>
    <div id="image_container">
      <div class="splash_image"></div>
      <div class="splash_image"></div>
      <div class="splash_image"></div>
      <div class="splash_image"></div>
    </div>

  </body>
</html>

