<% layout('layout.ejs') -%>

  <head>
    <title>Homepage</title>
  </head>
  <body>

    <div id="video">
      <video autoplay loop poster muted>
        <source src="/assets/copyRightInfringement.mp4" type="video/mp4">
      </video>
    </div>

    <div id="image_container">
      <img class="splash_image" src="https://www.kingarthurflour.com/sites/default/files/styles/featured_image_2x/public/recipe_legacy/20-3-large.jpg?itok=1v5DoLeu"></img>

      <img class="splash_image" src="https://www.pamelasproducts.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/a/r/artisan-pizza-dough-margherita-350-1024x686.jpg"></img>

      <img class="splash_image" src="https://www.telegraph.co.uk/content/dam/food-and-drink/2017/02/21/pizzamain1_trans_NvBQzQNjv4Bqeo_i_u9APj8RuoebjoAHt0k9u7HhRJvuo-ZLenGRumA.jpg?imwidth=1400"></img>

      <img class="splash_image" src="http://d6vrtzdlbankn.cloudfront.net/wp-content/uploads/2015/08/Carbonara-Pizza-700x420.jpg"></img>
    </div>

    <hr class="lines">
      <hr class="lines">


      <div class="content">
        <h1>Our Story</h1>
        <p>
            "For Kerrisdale, Bufala is that gathering place - where friends and families can gather for delicious food & drink every day of the week. Described by Vancouver Magazine as “the beating heart of the Kerrisdale food scene".”  We prepare fresh, scratch-made classic & contemporary pizzas in the Napolitana style - blistered to perfection in our 800 degree stone oven - along with a tasty selection of Italian-inspired small plates and desserts. And as great meals require great drinks, we also offer a delicious selection of cocktails, wines, craft beers, and espresso".
        </p>
    </div>

  </body>
</html>

