<% layout('layout.ejs') -%>

<div class="jumbotron">
  <!-- <h1 class="display-4">Welcome to {RESTAURANT NAME}!</h1> -->
  <!-- <p class="lead">
    We now have a new <strong>mobile order-and-pickup</strong> option,
    developed by our <em>crack team of highly-trained developers</em>.
  </p> -->
  <hr class="my-4"/>
  <!-- <p>
    Our caffeine-fueled developers have been working tirelessly to bring
    you <strong>mobile order-and-pickup</strong>. Now you can place your
    order on-line and receive text messages updating you with your order's
    status. Never again will you have to interact with a human being to
    make an order with us.
  </p> -->

</div>

    <link href=<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,600i,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
    <div id="logo">Bufala
    <!-- <img src="images/bufala.png"> -->
    </div>
  </body>
</html>

