<% layout('layout.ejs') -%>

<div class="jumbotron">
  <h1 class="display-4">Welcome to {RESTAURANT NAME}!</h1>
  <p class="lead">
    We now have a new <strong>mobile order-and-pickup</strong> option,
    developed by our <em>crack team of highly-trained developers</em>.
  </p>
  <hr class="my-4"/>
  <p>
    Our caffeine-fueled developers have been working tirelessly to bring
    you <strong>mobile order-and-pickup</strong>. Now you can place your
    order on-line and receive text messages updating you with your order's
    status. Never again will you have to interact with a human being to
    make an order with us.
  </p>
  <a class="btn btn-primary btn-lg" href="/orders/new">Place an order</a>
</div>
