<% layout('../layout.ejs') -%>


<head>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <title>Incoming Orders</title>
</head>

<section id="bill">
  <table class="main_table">
    <thead>
      <th>Order Number</th>
      <th>Estimated Time</th>
      <th>Phone Number</th>
      <th>Orders</th>
      <th colspan="2">Message Customer</th>
    </thead>

    <% for (const lineItem of lineItems) { %>
    <tr>
      <td><%= lineItem.id %></td>
      <td><%= lineItem.customer_phone %></td>
      <td><%= lineItem.pizza %></td>
      <td><button>message</button></td>
      <td>
        <% if (lineItem.completed_at) { %>
        <span>Already done!</span>
        <% } else { %>
        <form action="/restaurant/orders/<%= lineItem.id %>/complete" method="post">
          <input type="submit" value="Complete">
        </form>
        <% } %>
      </td>
    </tr>
    <% } %>

  </table>
</section>
