<% layout('../layout.ejs') -%>

<div id="app">
    <h1>Incoming orders below!</h1>
    </div>

    <section id="bill">

      <hr>

      <div>
        <span> Order Number: 88888 </span>
        <span> "5 minutes" </span>
      </div>

      <div>
        Phone Number: 604-123-4567
      </div>

      <br>

      <div>
        <span> 1x Pepperoni </span>
      </div>

      <span>
        <button>message</button>
        <button>complete</button>
      </span>

      <br>

      <hr>


    </section>

