<% layout('../layout.ejs') -%>

<div id="app">
  <h1>Incoming orders below!</h1>
</div>

<section id="bill">

  <table id="main_table">
    <thead>
      <th>Order Number</th>
      <th>Estimated Time</th>
      <th>Phone Number</th>
      <th>Orders</th>
      <th colspan="2">Message Customer</th>
    </thead>
    <tr>
      <td>88888</td>
      <td>5 minutes</td>
      <td>604-123-4567</td>
      <td>
        <table class="order_table">
          <tr>
            <td>1</td>
            <td>Pepperoni </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Fungi</td>
          </tr>
        </table>
      </td>
      <td><button>message</button></td>
      <td><button>complete</button></td>
    </tr>
    <tr>
        <td>88888</td>
        <td>5 minutes</td>
        <td>604-123-4567</td>
        <td>
          <table class="order_table">
            <tr>
              <td>1</td>
              <td>Pepperoni </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Fungi</td>
            </tr>
          </table>
        </td>
        <td><button>message</button></td>
        <td><button>complete</button></td>
      </tr>
  </table>

</section>
