<% layout('../layout.ejs') -%>

<div id="app">
  <h1>Incoming orders below!</h1>
</div>

<section id="bill">

  <table>
    <tr id="title">
      <td>Order Number</td>
      <td>Estimated Time</td>
      <td>Phone Number</td>
      <td>Orders</td>
      <td colspan="2">Message Customer</td>
    </tr>
    <tr>
      <td>88888</td>
      <td>5 minutes</td>
      <td>604-123-4567</td>
      <td>
        <table>
          <tr>
            <td>1</td>
            <td>Pepperoni </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Fungi</td>
          </tr>
        </table>
      </td>
      <td><button>message</button></td>
      <td><button>complete</button></td>
    </tr>
  </table>

</section>
