<% layout('../layout.ejs') -%>

  <div id="app">
  <h1>We have received your order!</h1>
  <p>Thank you for your order! <a href='/api/orders/send_text'>Click here for your estimated pick-up time</a>!<p>
  </div>

  <section id="bill">

    <hr>

    <div>
      <span>Subtotal: </span>

    </div>
    <div>
      <span>Taxes: </span>

    </div>

    <hr>

    <div>
      <span>Total: </span>

    </div>
  </section>

