<% layout('../layout.ejs') -%>

  <div id="app">
    <h1>Thank you, We have received your order!</h1>
  </div>

  <div id="app">
    <h3>Your Order Summary:</h3>
  </div>

  <section id="bill">

    <hr>

    <div>
      <h3>Subtotal: </h3>

    </div>
    <div>
      <h3>Taxes: </h3>

    </div>

    <hr>

    <div>
      <h2>Total: </h2>

    </div>
  </section>

