<% layout('../layout.ejs') -%>

<% block('title', 'Checkout') %>

<div id="app">
  <h1>Thank you, we have received your order!</h1>
</div>

<div class="outside">
  <div class="summaryBox">
    <h2>Your Order Summary:</h2>
    <%let total = 0 %>
    <% for (const lineItem of lineItems) { %>
      <% total += Number.parseInt(lineItem.price.slice(1)) %>

      <div class="summary">
        <span> <%=lineItem.menu_item_name%> </span>
        <span> &times; <%=lineItem.quantity%> </span>
      </div>

      <% } %>

      <section id="bill">

        <div class="sum">
          <h2>Total: $<%=total.toFixed(2)%> </h2>
        </div>
  </div>

  <div>
    <div>
      <img class="map" src="/assets/bufalaMap.png"></img>
    </div>
  </div>
</div>

</section>
