<!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>New Order Form</title>
  </head>

  <body>
  <div id="app">
  <h1>Welcome!</h1>
  <p>This is where our order form willgo. For now, <a href='/api/orders/send_text'>try sending a text</a>!<p>
  </div>
  </body>

</html>
