$highlight-color:#122517;

#app {
  margin-top:50px;
  margin-left:2.5%;
  margin-right:2.5%;
  font-size: 180%;
}
#bill {
  margin-left:2.5%;
  margin-right:2.5%;
}
a{
  color:#122517;
  font-weight: bold;
}

.summary {
  margin-top: 50px;
  margin-left: 2.5%;
  font-size: 150%;
}
