$bg-color:#FFFFFF;
$accent-color:#000000;
$highlight-color:#122517;
$main-font: Montserrat;
$accent-font: Pacifico;
$hover-color:#DCDBD2;
$active-color:#99957A;

nav {
  background-color:$bg-color;
  position: fixed;
  width:100vw;
  z-index:3;
  top:0;
  display:flex;
  justify-content: space-between;
  align-items: center;

  button{
    outline:none;
    border-color:#FFFFFF;
    height:5vh;
    text-transform: uppercase;
    font-weight: bolder;
    padding-left:2.5%;
    padding-right:2.5%;
    &:hover{
      background-color:$hover-color;
    }
    &:active{
      background-color:$active-color;

    }
    a{
      color:inherit;
      text-decoration: inherit;
    }
  }
}
