$bg-color:rgba(255, 255, 255, 0.5);
$accent-color:#000000;
$highlight-color:#122517;
$main-font: Montserrat;
$accent-font: Pacifico;
$hover-color:#DCDBD2;
$active-color:#99957A;

nav {
  background-color:$bg-color;
  position: fixed;
  height: 70px;
  width:100vw;
  z-index:3;
  top:0;
  display:flex;
  justify-content: space-between;
  align-items: center;

  button {
    outline:none;
    border:none;
    background-color:transparent;
    height:5vh;
    text-transform: uppercase;
    font-weight: bolder;
    padding-left:2.5%;
    padding-right:2.5%;
    &:hover{
      background-color:transparent;
      border:1px solid $bg-color;
    }
    &:active{
      background-color:$bg-color;
    }
    a{
      color:inherit;
      text-decoration: inherit;
    }
  }
}

.home-button img {
  width: 89px;
  height: auto;
}
