$highlight-color: #122517;
$hover-color: #dcdbd2;
$active-color: #99957a;
$bg-color:#FFFFFF;

html{
  overflow:hidden;
  margin:0;
  padding:0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity_field {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 5em;

  label {
    display: block;
    margin-right: 2.5%;
    padding-bottom: 5px;
  }
  input {
    display: block;
    border-top: 1px solid $highlight-color;
    border-bottom: 1px solid $highlight-color;
    outline: none;
    width: 40px;
    height: 30px;
    text-align: center;
  }
  button {
    background-color: white;
    color: $highlight-color;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid $highlight-color;
    border-right: none;
    border-radius: 7px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 30px;
    height: 30px;
    &:last-child {
      border-right: 1px solid $highlight-color;
      border-left: none;
      border-radius: 7px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

body {
  margin:0;
  height:100vh;
  perspective:1px;
  transform-style: preserve-3d;
  overflow-x:hidden;
  overflow-y:auto;
}

.parallax-wrapper {
  width: 100vw;
  height:100vh;
  padding-top:10vh;
  box-sizing: border-box;
  &::before {
    content:"";
    width: 100vw;
    height:100vh;
    margin-top:-60px;
    margin-bottom: 0px;
    top:0;
    left:0;
    background-image: url('https://i.ytimg.com/vi/gswYPT1vg84/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    position:absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
  }
}

.regular_wrapper {
  width:100vw;
  height:115vh;
  padding-top:20vh;
  top:0;
  left:0;
  bottom:0;
  margin-top:-100px;
  background-image: url('https://mediad.publicbroadcasting.net/p/shared/npr/styles/x_large/nprshared/201805/474250506.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  z-index: 2;
  position: relative;
}

.floating_words{
  margin:0 auto;
  padding:10px;
  width:50vw;
  background-color: $bg-color;
  position: relative;
  h3 {
    margin: 0px;
    text-align: center;
  }
  .menu-item {
    display: block;
    .quantity_field {
      margin-bottom: 50px;
    }
    &:last-child .quantity_field {
      margin-bottom: 20px;
    }
  }
  header{
    display:flex;
    justify-content:space-between;
    font-size: 10px;
    text-transform: uppercase;
  }
  p {
    float: left;
    width: 70%;
    margin-top: 0px;
  }
}

section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

input {
  border: none;
  outline: none;
}

button {
  outline: none;
  border-color: #ffffff;
  height: 5vh;
  text-transform: uppercase;
  font-weight: bolder;
  padding-left: 2.5%;
  padding-right: 2.5%;
  &:hover {
    background-color: $hover-color;
  }
  &:active {
    background-color: $active-color;
  }
  label {
    margin-left: 20px;
  }
}

.cart {
  position: sticky;
  z-index: 3;
  justify-content: space-between;
  background-color: $highlight-color;
  color: $active-color;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  .hiddenError {
    padding: 5px;
  }
  section {display: block}
  p {
    float: right;
  }
  .inputs {
    clear: right;
    float: right;
    label { margin-right: 10px; }
    input[type=text] {
      width: 150px;
      margin: 10px;
      padding: 10px;
    }
    input[type=submit] {
      border: 2px solid white;
      border-radius: 5px;
      padding: 5px;
      background-color: transparent;
      margin-left: 10px;
      color: white;
    }
  }
  #sub-total { font-weight: bold; }
}

.cart ul {
  float: left;
}

.smallLogo {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  width: 150px;
  padding: 0;
}
